
//Ovaj partial je za neke globalne komponente kao sto je tabela, buttons itd

$btn-default-background-color:$dark-grey;
$btn-letter-color-white:$white;


$btn-background-color-danger:$red;
$btn-background-color-warning:$orange;
$btn-background-color-info:$blue;
$btn-background-color-sucess:$yellow;
$btn-background-color-dark:$black;



//ovaj % znak ispred btn klase, znaci da je btn nevidljiva klasa, tj da se nigde
//u htmlu ne koristi ali je bitna, jer njene propertije koriste druge klase, koje
//pomocu @extend nasledjuju te propretije. Dakle btn je nesto kao bazna klasa.
//NAPOMENA- ovaj dolar znak je moguce koristiti samo sa klasama

%btn{

    display:inline-block;
    padding:10px 25px;
    border:none;
    color:$btn-letter-color-white;
   //@include radius(5px);
       @include customRadius(5px, 50%, 5px, 50%);
    cursor:pointer;
     
}



.btn-default{
    
     
    @extend %btn;
    //sa ovim iznad- @extend .btn - .btn-default clasa nasledjuje sve
    //sto je u  .btn clasi i ispod dodaje svoje propertije

    

    //sa ovim ispod -rgba()- mi u toj funkciji dodajemo dva parametra
    //jedan je boja a drugi je opacity te boje.
    background-color:rgba($btn-default-background-color, 0.2);
   &:hover{
       
       
       //darken i lighten funkcije uzimaju dva parametra, boju i procenat 
       //za koji zelimo da ta boja bude svetlija ili tamnija. U glavnom 
       //se koristi kod hover stanja.
       
       
        background-color:darken($btn-default-background-color, 20%);
    }

}

.btn-danger{
    @extend %btn ;
    background-color:$btn-background-color-danger;
   &:hover{
        background-color:darken($btn-background-color-danger, 10%);
    }
}

.btn-warning{
    @extend %btn ;
    background-color:$btn-background-color-warning;
  &:hover{
        background-color:darken($btn-background-color-warning, 10%);
    }
}

.btn-sucess{
    @extend %btn ;
    background-color:$btn-background-color-sucess;  &:hover{
        background-color:darken($btn-background-color-sucess, 10%);
    }
}


.btn-info{
    @extend %btn ;
    background-color:$btn-background-color-info;  &:hover{
        background-color:darken($btn-background-color-info, 10%);
    }

}

.btn-dark{
    @extend %btn ;
    background-color:$btn-background-color-dark;  &:hover{
        background-color:lighten($btn-background-color-dark, 30%);
    }
}