$comment-bg:$white;

.comment-section{
    @include padding(30px, 0, 30px, 0);

    background-color:$comment-bg;
    
    
    
    .comment-list{
        
        padding-left:0;
   .comment-item{
        
       @include displayFlex();
        justify-content: space-around;
        margin-bottom:20px;
    }
    
    .comment-body{
        
        padding-left:10px;
        
        
        h2{
            
            margin-top:0;
           
        }
    }
    
    
    .comment-img{
        
        img{
            
            @include radius(50%);
            display:block;
           width: 250px; 
         
    
        }
    }//coment-img ends
    }//comment list ends
}//comment-section ends


@media (min-width:768px){
    
    .comment-img{
        
        img{
        
        width:auto!important;
         height:auto !important;
        
        }
    }//coment-img ends
}
 
