
$header-bg:$purple;
$header-link-color:$white;
$nav-font:$josefin;
$nav-link-hover:$green;


header{

    padding:30px 0;
    background-color:$header-bg;

    .branding{

        text-align: center;
        a{
            color:$header-link-color;
        }
    }

    nav{

        ul{

            list-style:none;
            padding-left:0;
            text-align: center;


            li{
                a{
                    display:block;
                    padding:5px 0;
                    color:$header-link-color;
                    font-family: $nav-font;
                    text-transform:uppercase;
                    font-weight:$font-bold;

                    &:hover, &.active{
                        
                        //ova funkcija pravi to da je boja kada hoverujemo u ovom slucaju,
                        //za 180 stepeni suprotna od boje linka (u ovom slucaju komplementarna
                        //boja od green je pruple)
                        
                       // color:complement($header-bg);
                       
                       //ovde ispod dodajemo lighten, da bi nam ova komplementarna boja ljubicastoj
                       //(zelena), bila malo svetlija.
                       
                       color:lighten(complement($header-bg), 10%);
                    }
                }
                //a end 


            }
        }
        //ul end
    }
    //nav end


}
//header end

@media (min-width:768px){
    
    header{
        .container{
            
            display:flex;
        justify-content: space-between;
        align-items: center;
        
        nav{
            
            ul{
                display:flex;
                justify-content: space-between;
                
                li{
                    
                    a{
                        
                        padding:5px 5px;
                    }
                }
            }//ul end
            
        }//nav end
        
        }//container end
        
        
    }//end header
    
}




@media (min-width:992px){
    header{
        .container{
            
       
        nav{
            
            ul{
              
                
                li{
                    
                    a{
                        
                        padding:5px 15px;
                    }
                }
            }//ul end
            
        }//nav end
        
        }//container end
        
        
    }//end header
    
    
    
}
