$home-bg: $white;

.home-section{
    
    @include padding(150px,50px,150px,50px);
    @include backgroundColor($home-bg);
    
    
    //kada definisemo putanje definisiemo kroz theme.css file jer
    //taj fajl ucitavamo na nasu stranu. 
    //Pogresno:
    
   // background-image:url(../../img/home.png);
   
    //Dobro:
    
    background-image:url(assets/home.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top-center;
    
    
}



